<input name="title" type="text" placeholder="Title" value="{{post.title}}">
<input name="body" type="text" placeholder="Body" value="{{post.body}}">
<!-- BUTTON -->
<div class="form-group">
    <button type="submit">Post</button>

</div>